<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Movie App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movie App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let movie of MovieData">
      <ion-item-group>
        <img src="{{movie.Poster}}">
          <ion-label>{{movie.Title}}</ion-label>
          <ion-label>{{movie.Year}}</ion-label>
      </ion-item-group> 
    </ion-item>
  </ion-list>

  <IonCard *ngFor="let movie of MovieData">
    <img src="{{movie.Poster}}">
    <IonCardHeader>
      <IonCardSubtitle>{{movie.Year}}</IonCardSubtitle>
      <IonCardTitle>{{movie.Title}}</IonCardTitle>
    </IonCardHeader>

    
  </IonCard>

</ion-content>
